body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.logo-home{
    margin: 12px;
}

.lokasi{
    text-align: center;
    font-size: 12px;
    color: #5e5e5e;
}

.banner-container {
    display: flex;
    padding: 0 30px;
    justify-content: center; 
}

.banner {
    position: relative;
    max-width: 1200px; 
    height: 400px;
    background-color: #f07d31;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: left;

    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.banner h1 {
    font-size: 48px;
    margin: 0;
    line-height: 1.2;
}

.banner p {
    font-size: 24px;
    margin: 10px 0;
}

.banner .cta-button {
    padding: 15px 30px;
    background-color: #f07d31;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.banner .cta-button:hover {
    background-color: #e06f27;
}

.search-sort {
    max-width: 1200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Ukuran tinggi banner disesuaikan di layar tablet */
@media (max-width: 768px) {
    .banner {
        height: 200px; 
    }

    .banner h1 {
        font-size: 36px;
    }

    .banner p {
        font-size: 18px;
    }

    .banner .cta-button {
        padding: 12px 25px;
        font-size: 16px;
    }
}


/* Ukuran tinggi banner di layar mobile */
@media (max-width: 500px) {
    .banner {
        margin-bottom: 30px;
        text-align: left;
        height: 150px; 
        width: 100%;
        border-radius: 20px;
        background-color: #FABC60; 
    }

    .banner h1 {
        font-size: 30px;
        margin: 0;
    }

    .banner p {
        font-size: 16px;
        margin: 10px 0 0;
    }

    .banner .cta-button {
        padding: 10px 20px;
        font-size: 14px;
    }
    
    .search-sort {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 12px 0 12px;
    }
    
    #search {
        width: 280px; 
        padding: 12px 20px; 
        font-size: 16px; 
        border: 1px solid #138677;
        border-radius: 12px; 
        background-color: #f9f9f9; 
        color: #333; 
        transition: border-color 0.3s ease, box-shadow 0.3s ease; /
    }
    
    #search::placeholder {
        color: #aaa; 
    }
    
    #search:focus {
        border-color: #f07d31; 
        outline: none; 
        box-shadow: 0 0 8px rgba(240, 125, 49, 0.5); 
    }
    
    
}

